#board {
    padding-bottom: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 50px;
}

#rack {
    width: 600px; 
    height: 125px; 
    text-align: center; 
    margin-left: 50px;
    background-image: url("../graphics_data/scrabble-tile-holder-406774_640.png");
}
.rackTile {
    height: 80px;
}
.boardTile {
    width: 80px;
    height: 77px;
    float: left;
    background-size: 100%;
}

body {
    background-color: beige;
    
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:crimson;
    text-decoration: underline;
    text-decoration-thickness: 10%;
    background-color:bisque;
    border: black dotted;
    margin-left: 50px;
    margin-right: 25%;
}
#scores {
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px;
    border: skyblue solid;
    float: left;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
}
#score, #totalscore {
    color:red
}

